page{
	height: 100%;
	font-size: 28upx;
	line-height: 1.8;
	background: #fff;
}
image{
	width: 100%;
}
.main-bg-color{
	background: #fd6801;
}
.main-bg-hover-color{
	background: rgba(253,104,1,0.85);
}
.main-text-color{
	color: #fd6801;
}
.main-border-color{
	background: #fd6801;
}



body {
    color: #3c3c3c;
    font-size: 28rpx;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
}
.status_bar {
    height: var(--status-bar-height);
    width: 100%;
}
.more-right{
    position: relative;
    padding-right: 60rpx;
}
.more-right:after{
    content: "";
    position: absolute;
    right: 32rpx;
    top: 50%;
    width: 20rpx;
    height: 20rpx;
    border-left: 2rpx solid currentColor;
    border-top: 2rpx solid currentColor;
    transform: translate(0,-50%) rotate(135deg);
}
.ellipsis{
    overflow:hidden; //超出的文本隐藏
    text-overflow:ellipsis; //溢出用省略号显示
    white-space:nowrap; //溢出不换行
}
::-webkit-scrollbar {  
    display: none;  
    width: 0 !important;  
    height: 0 !important;  
    -webkit-appearance: none;  
    background: transparent;  
}